<div class="container-home">
  <app-card
    gameCover="ac-cover.jpg"
    gameLabel="Exclusive"
    gameTitle="Play it Now!"
    gameType="PS3 | PS4"
    gamePrice="R$ 49,99"
  >
  </app-card>
  <app-card
    gameCover="bt-1.jpg"
    gameLabel="Digital"
    gameTitle="Buy it now!"
    gameType="PS4"
    gamePrice="R$ 179,99"
  >
  </app-card>
  <app-card
    gameCover="bt-4.jpg"
    gameLabel="Digital"
    gameTitle="Buy it now!"
    gameType="PS4"
    gamePrice="R$ 129,99"
  >
  </app-card>
  <app-card
    gameCover="bt-5.jpg"
    gameLabel="Digital"
    gameTitle="Buy it now!"
    gameType="PS4"
    gamePrice="R$ 249,99"
  >
  </app-card>
  <app-card
    gameCover="bt-hardline.jpg"
    gameLabel="New"
    gameTitle="Buy it now!"
    gameType="PS4"
    gamePrice="R$ 249,99"
  >
  </app-card>
  <app-card
    gameCover="bt-bad-company-2.jpg"
    gameLabel="New"
    gameTitle="Buy it now!"
    gameType="PS4"
    gamePrice="R$ 49,99"
  >
  </app-card>
</div>
